body {
    font-family: Arial, sans-serif;
    background-color: blue;
    line-height: 1.5;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

.ingredients-list {
    list-style: square inside;
}

ol {
    list-style: circle outside;
}

header > img { /* immediate children thing */
    width: 100px;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

.user_review h4, p { /* awesome the comma is what you want to specify all kinds of elements after class .user_review easy to learn css so great */
    color: yellow;
}